---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/access-tokens
    body:
      encoding: UTF-8
      string: '{"token_type":"server"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-nPa9qP8ICxZu88Ujs30sbL/cAGg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"access_token":"<ACCESS_TOKEN>","token_type":"server","expiry":1762681312,"permission":["inquiry","charge","vault","consult","encryption-config","refund","capture"]}}'
  recorded_at: Sat, 08 Nov 2025 10:28:25 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/charges
    body:
      encoding: UTF-8
      string: '{"transaction":{"reference":"TEST-VCR-CANCEL-001","amount":150,"currency":"USD","country":"US","note":"Cancel
        test payment"},"payment":{"method":"alipay","client":["mobile_browser","desktop"]},"urls":{"ipn":"https://example.com/webhooks/citcon","success":"https://example.com/payment/success","fail":"https://example.com/payment/fail","cancel":"https://example.com/payment/cancel"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32d-ShJslntIEvNKckMMQN7oqisKn1c"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"object":"charge","charge_token":"a889f730bc8d11f0967f3b2a428a7e16","id":"2000470537596802752517","reference":"TEST-VCR-CANCEL-001","amount":150,"currency":"USD","time_created":1762597705,"time_captured":null,"auto_capture":true,"status":"initiated","country":"US","payment":{"method":"alipay","client":[{"client":"desktop","format":"redirect","method":"GET","content":"https://landing.uat01.citconpay.com/v1/landing/a8962c30bc8d11f0bef725850d4b9b3a"},{"client":"mobile_browser","format":"redirect","method":"GET","content":"https://landing.uat01.citconpay.com/v1/landing/a8962c31bc8d11f0bef725850d4b9b3a"},{"client":"desktop","format":"qr","method":"GET","content":"https://landing.uat01.citconpay.com/v1/qr/a8962c32bc8d11f0bef725850d4b9b3a"}]}}}'
  recorded_at: Sat, 08 Nov 2025 10:28:25 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/cancels
    body:
      encoding: UTF-8
      string: '{"id":"2000470537596802752517","reference":"CANCEL-REQ-001","transaction_reference":"TEST-VCR-CANCEL-001"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"125-rroEvQyDEXXPMDSxPxLUSl+wsho"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"id":"2000470537596802752517","object":"cancel","reference":"CANCEL-REQ-001","amount":150,"currency":"USD","time_created":1762597705,"country":"US","payment":{"method":"alipay","type":"","data":{"pan":""}},"status":"canceled"}}'
  recorded_at: Sat, 08 Nov 2025 10:28:29 GMT
recorded_with: VCR 6.3.1
