---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/access-tokens
    body:
      encoding: UTF-8
      string: '{"token_type":"server"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-5sGeX2JiH6bPGa1YjzgrO+2QxmM"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"access_token":"UPI_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlOTNkYTMxYWJiZDJiMzE0YTg4ODY5YmQ5MDAyOWMxMzg1ZmRhZWMyNWEyMWYzMTZiMGFjNGViZDZmNTI0ZDQiLCJ0aW1lX2NyZWF0ZWQiOjE3NjI2MzQ2MDkwMjAsImlhdCI6MTc2MjYzNDYwOSwiZXhwIjoxNzYyNzIxMDA5fQ.m_Qc_A8SDWtrtA9BuqrTsj87YJuSp_poj5o65Z7AboE","token_type":"server","expiry":1762721009,"permission":["inquiry","charge","vault","consult","encryption-config","refund","capture"]}}'
  recorded_at: Sat, 08 Nov 2025 21:06:45 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/charges
    body:
      encoding: UTF-8
      string: '{"transaction":{"reference":"SERVICE-NO-ADDR-1762636004","amount":100.0,"currency":"USD","country":"US","country_accelerator":"CN","note":"Service
        with no addresses"},"payment":{"method":"alipay","client":["mobile_browser","desktop"]},"urls":{"ipn":"https://example.com/webhooks/citcon","success":"https://example.com/payment/success","fail":"https://example.com/payment/fail","cancel":"https://example.com/payment/cancel"},"consumer":{"reference":"CUSTOMER-001","first_name":"Test","last_name":"User","phone":"13312345678","email":"test@example.com"},"goods":{"data":[{"product_name":"SaaS
        Subscription","product_sku":"SERVICE-001","product_type":"service","quantity":1,"unit_amount":100.0,"description":"Monthly
        subscription service"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"343-We4MGl+rdbwXDodgyiN7dklKoDY"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"object":"charge","charge_token":"d521afa0bce611f0bf8161153c3aca95","id":"2000470698238742917125","reference":"SERVICE-NO-ADDR-1762636004","amount":100,"currency":"USD","time_created":1762636005,"time_captured":null,"auto_capture":true,"status":"initiated","country":"US","payment":{"method":"alipay","client":[{"client":"desktop","format":"redirect","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/landing/d52b4c90bce611f09b7397c845dd7824"},{"client":"mobile_browser","format":"redirect","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/landing/d52b4c91bce611f09b7397c845dd7824"},{"client":"desktop","format":"qr","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/qr/d52b4c92bce611f09b7397c845dd7824"}]}}}'
  recorded_at: Sat, 08 Nov 2025 21:06:45 GMT
recorded_with: VCR 6.3.1
