---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/access-tokens
    body:
      encoding: UTF-8
      string: '{"token_type":"server"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-5sGeX2JiH6bPGa1YjzgrO+2QxmM"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"access_token":"<ACCESS_TOKEN>","token_type":"server","expiry":1762721009,"permission":["inquiry","charge","vault","consult","encryption-config","refund","capture"]}}'
  recorded_at: Sat, 08 Nov 2025 20:43:29 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/charges
    body:
      encoding: UTF-8
      string: '{"transaction":{"reference":"ALIPAY-SERVICE-1762634608","amount":150.0,"currency":"USD","country":"US","country_accelerator":"CN","note":"Test
        payment for consulting service"},"payment":{"method":"alipay","client":["mobile_browser","desktop"]},"urls":{"ipn":"https://example.com/webhooks/citcon","success":"https://example.com/payment/success","fail":"https://example.com/payment/fail","cancel":"https://example.com/payment/cancel"},"consumer":{"reference":"CUSTOMER-SERVICE-001","first_name":"Jane","last_name":"Smith","phone":"13312345678","email":"jane.smith@example.com"},"goods":{"data":[{"product_name":"Business
        Consulting Service","product_sku":"SERVICE-CONSULT-001","product_type":"service","quantity":1,"unit_amount":150.0,"description":"Professional
        business consulting - 3 hours"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"342-EdHl1tSSVGy/Aqw6buSZ+H1GkcY"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"object":"charge","charge_token":"950d24b0bce311f0bf8161153c3aca95","id":"2000470692383485648901","reference":"ALIPAY-SERVICE-1762634608","amount":150,"currency":"USD","time_created":1762634609,"time_captured":null,"auto_capture":true,"status":"initiated","country":"US","payment":{"method":"alipay","client":[{"client":"desktop","format":"redirect","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/landing/960874a0bce311f0bef725850d4b9b3a"},{"client":"mobile_browser","format":"redirect","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/landing/960874a1bce311f0bef725850d4b9b3a"},{"client":"desktop","format":"qr","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/qr/960874a2bce311f0bef725850d4b9b3a"}]}}}'
  recorded_at: Sat, 08 Nov 2025 20:43:30 GMT
recorded_with: VCR 6.3.1
