---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/access-tokens
    body:
      encoding: UTF-8
      string: '{"token_type":"server"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-nPa9qP8ICxZu88Ujs30sbL/cAGg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"access_token":"<ACCESS_TOKEN>","token_type":"server","expiry":1762681312,"permission":["inquiry","charge","vault","consult","encryption-config","refund","capture"]}}'
  recorded_at: Sat, 08 Nov 2025 10:17:14 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/charges
    body:
      encoding: UTF-8
      string: '{"transaction":{"reference":"TEST-VCR-ALIPAY-001","amount":100,"currency":"USD","country":"US","note":"VCR
        Test Payment"},"payment":{"method":"alipay","client":["mobile_browser","desktop"]},"urls":{"ipn":"https://example.com/webhooks/citcon","success":"https://example.com/payment/success","fail":"https://example.com/payment/fail","cancel":"https://example.com/payment/cancel"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32d-mkDjYnAo4yZtsqYWRv2MK7k0/38"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"object":"charge","charge_token":"18a3d9c0bc8c11f0967f3b2a428a7e16","id":"2000470534782760808453","reference":"TEST-VCR-ALIPAY-001","amount":100,"currency":"USD","time_created":1762597034,"time_captured":null,"auto_capture":true,"status":"initiated","country":"US","payment":{"method":"alipay","client":[{"client":"desktop","format":"redirect","method":"GET","content":"https://landing.uat01.citconpay.com/v1/landing/18b2f4f0bc8c11f09b7397c845dd7824"},{"client":"mobile_browser","format":"redirect","method":"GET","content":"https://landing.uat01.citconpay.com/v1/landing/18b2f4f1bc8c11f09b7397c845dd7824"},{"client":"desktop","format":"qr","method":"GET","content":"https://landing.uat01.citconpay.com/v1/qr/18b2f4f2bc8c11f09b7397c845dd7824"}]}}}'
  recorded_at: Sat, 08 Nov 2025 10:17:14 GMT
recorded_with: VCR 6.3.1
