---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/access-tokens
    body:
      encoding: UTF-8
      string: '{"token_type":"server"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-5sGeX2JiH6bPGa1YjzgrO+2QxmM"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"access_token":"<ACCESS_TOKEN>","token_type":"server","expiry":1762721009,"permission":["inquiry","charge","vault","consult","encryption-config","refund","capture"]}}'
  recorded_at: Sat, 08 Nov 2025 20:43:48 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/charges
    body:
      encoding: UTF-8
      string: '{"transaction":{"reference":"WECHAT-SERVICE-1762634628","amount":99.0,"currency":"USD","country":"US","country_accelerator":"CN","note":"Test
        payment for premium subscription"},"payment":{"method":"wechatpay","client":["mobile_browser","desktop"]},"urls":{"ipn":"https://example.com/webhooks/citcon","success":"https://example.com/payment/success","fail":"https://example.com/payment/fail","cancel":"https://example.com/payment/cancel"},"consumer":{"reference":"CUSTOMER-SERVICE-002","first_name":"Michael","last_name":"Chen","phone":"13312345678","email":"michael.chen@example.com"},"goods":{"data":[{"product_name":"Premium
        Subscription - Annual","product_sku":"SERVICE-SUB-PREMIUM-ANNUAL","product_type":"service","quantity":1,"unit_amount":99.0,"description":"Premium
        membership for 12 months with all features unlocked"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"21d-aXvKaQ8S0ac8O55lcQvbQJCOSSk"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"object":"charge","charge_token":"a0e51090bce311f0967f3b2a428a7e16","id":"2000470692466839052293","reference":"WECHAT-SERVICE-1762634628","amount":99,"currency":"USD","time_created":1762634629,"time_captured":null,"auto_capture":true,"status":"initiated","country":"US","payment":{"method":"wechatpay","client":[{"client":"mobile_browser","format":"redirect","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/landing/a1b49591bce311f0bef725850d4b9b3a"}]}}}'
  recorded_at: Sat, 08 Nov 2025 20:43:50 GMT
recorded_with: VCR 6.3.1
