---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/access-tokens
    body:
      encoding: UTF-8
      string: '{"token_type":"server"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-nPa9qP8ICxZu88Ujs30sbL/cAGg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"access_token":"<ACCESS_TOKEN>","token_type":"server","expiry":1762681312,"permission":["inquiry","charge","vault","consult","encryption-config","refund","capture"]}}'
  recorded_at: Sat, 08 Nov 2025 10:28:37 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/charges
    body:
      encoding: UTF-8
      string: '{"transaction":{"reference":"TEST-VCR-PAYPAL-002","amount":475,"currency":"USD","country":"US","note":"PayPal
        multiple items test"},"payment":{"method":"paypal","client":["desktop"]},"urls":{"ipn":"https://example.com/webhooks/citcon","success":"https://example.com/payment/success","fail":"https://example.com/payment/fail"},"goods":{"data":[{"name":"T-Shirt","quantity":3,"unit_amount":25.0,"product_type":"physical"},{"name":"Baseball
        Cap","quantity":2,"unit_amount":200.0,"product_type":"physical"}],"shipping":{"first_name":"Jane","last_name":"Smith","phone":"5551234567","email":"jane.smith@example.com","street":"456
        Oak Avenue","city":"San Francisco","state":"CA","zip":"94102","country":"US"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23e-dgCtQ1vHbiamQ6mscxDKASLz4II"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"object":"charge","charge_token":"afd88a60bc8d11f0967f3b2a428a7e16","id":"2000470537648221220869","reference":"TEST-VCR-PAYPAL-002","amount":475,"currency":"USD","time_created":1762597717,"time_captured":null,"auto_capture":false,"status":"initiated","country":"US","exchange":{"amount":475,"currency":"USD","rate":1},"payment":{"method":"paypal","client":[{"client":"desktop","format":"redirect","method":"GET","content":"https://landing.uat01.citconpay.com/v1/landing/b1915df0bc8d11f09b7397c845dd7824"}]}}}'
  recorded_at: Sat, 08 Nov 2025 10:28:40 GMT
recorded_with: VCR 6.3.1
