---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/access-tokens
    body:
      encoding: UTF-8
      string: '{"token_type":"server"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-nPa9qP8ICxZu88Ujs30sbL/cAGg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"access_token":"<ACCESS_TOKEN>","token_type":"server","expiry":1762681312,"permission":["inquiry","charge","vault","consult","encryption-config","refund","capture"]}}'
  recorded_at: Sat, 08 Nov 2025 10:28:33 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/charges
    body:
      encoding: UTF-8
      string: '{"transaction":{"reference":"TEST-VCR-PAYPAL-001","amount":500,"currency":"USD","country":"US","note":"PayPal
        VCR test with goods"},"payment":{"method":"paypal","client":["desktop","mobile_browser"]},"urls":{"ipn":"https://example.com/webhooks/citcon","success":"https://example.com/payment/success","fail":"https://example.com/payment/fail"},"goods":{"data":[{"name":"Running
        Shoes","quantity":2,"unit_amount":250.0,"product_type":"physical"}],"shipping":{"first_name":"John","last_name":"Doe","phone":"6145675309","email":"john.doe@example.com","street":"123
        Main Street","city":"Columbus","state":"OH","zip":"43221","country":"US"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d9-IOSGn4vhI7orLm+vQrQcSjiVjEg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"object":"charge","charge_token":"ad787a50bc8d11f0967f3b2a428a7e16","id":"2000470537631498530821","reference":"TEST-VCR-PAYPAL-001","amount":500,"currency":"USD","time_created":1762597713,"time_captured":null,"auto_capture":false,"status":"initiated","country":"US","exchange":{"amount":500,"currency":"USD","rate":1},"payment":{"method":"paypal","client":[{"client":"desktop","format":"redirect","method":"GET","content":"https://landing.uat01.citconpay.com/v1/landing/af6fb670bc8d11f09b7397c845dd7824"},{"client":"mobile_browser","format":"redirect","method":"GET","content":"https://landing.uat01.citconpay.com/v1/landing/af6fb671bc8d11f09b7397c845dd7824"}]}}}'
  recorded_at: Sat, 08 Nov 2025 10:28:36 GMT
recorded_with: VCR 6.3.1
