---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/access-tokens
    body:
      encoding: UTF-8
      string: '{"token_type":"server"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-nPa9qP8ICxZu88Ujs30sbL/cAGg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"access_token":"<ACCESS_TOKEN>","token_type":"server","expiry":1762681312,"permission":["inquiry","charge","vault","consult","encryption-config","refund","capture"]}}'
  recorded_at: Sat, 08 Nov 2025 10:28:32 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/charges
    body:
      encoding: UTF-8
      string: '{"transaction":{"reference":"TEST-VCR-UPOP-001","amount":250,"currency":"USD","country":"US","country_accelerator":"CN","note":"UnionPay
        VCR test"},"payment":{"method":"upop","client":["mobile_browser","desktop"]},"urls":{"ipn":"https://example.com/webhooks/citcon","success":"https://example.com/payment/success","fail":"https://example.com/payment/fail"},"consumer":{"reference":"CUSTOMER-VCR-001","first_name":"John","last_name":"Doe","phone":"13312345678","email":"john.doe@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"338-s3uRg2yRIhhpLPxDsKjk6486oV0"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"object":"charge","charge_token":"ad224400bc8d11f0967f3b2a428a7e16","id":"2000470537629128749061","reference":"TEST-VCR-UPOP-001","amount":250,"currency":"USD","time_created":1762597712,"time_captured":null,"auto_capture":true,"status":"initiated","country":"US","payment":{"method":"upop","client":[{"client":"desktop","format":"redirect","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/landing/ad2e03d0bc8d11f09b7397c845dd7824"},{"client":"mobile_browser","format":"redirect","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/landing/ad2e03d1bc8d11f09b7397c845dd7824"},{"client":"desktop","format":"qr","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/qr/ad2e03d2bc8d11f09b7397c845dd7824"}]}}}'
  recorded_at: Sat, 08 Nov 2025 10:28:33 GMT
recorded_with: VCR 6.3.1
