---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/charges
    body:
      encoding: UTF-8
      string: '{"transaction":{"reference":"BILLING-TEST-SERVICE-1762635686","amount":150.0,"currency":"USD","country":"US","country_accelerator":"CN","note":"Testing
        service with billing, no shipping"},"payment":{"method":"alipay","client":["mobile_browser","desktop"]},"urls":{"ipn":"https://example.com/webhooks/citcon","success":"https://example.com/payment/success","fail":"https://example.com/payment/fail","cancel":"https://example.com/payment/cancel"},"consumer":{"reference":"BILLING-TEST-002","first_name":"Test","last_name":"User","phone":"13312345678","email":"test@example.com"},"goods":{"data":[{"product_name":"Consulting
        Service","product_sku":"SERVICE-001","product_type":"service","quantity":1,"unit_amount":150.0}],"billing":{"first_name":"Bill","last_name":"To","phone":"6145675310","email":"bill@example.com","street":"456
        Billing Ave","city":"New York","state":"NY","zip":"10001","country":"US"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"348-muUd1RzEb2oKFOxA94aUwUlapj0"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"object":"charge","charge_token":"171caaa0bce611f0967f3b2a428a7e16","id":"2000470696901606694917","reference":"BILLING-TEST-SERVICE-1762635686","amount":150,"currency":"USD","time_created":1762635686,"time_captured":null,"auto_capture":true,"status":"initiated","country":"US","payment":{"method":"alipay","client":[{"client":"desktop","format":"redirect","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/landing/172bc5d0bce611f0bef725850d4b9b3a"},{"client":"mobile_browser","format":"redirect","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/landing/172bc5d1bce611f0bef725850d4b9b3a"},{"client":"desktop","format":"qr","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/qr/172bc5d2bce611f0bef725850d4b9b3a"}]}}}'
  recorded_at: Sat, 08 Nov 2025 21:01:26 GMT
recorded_with: VCR 6.3.1
