---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/access-tokens
    body:
      encoding: UTF-8
      string: '{"token_type":"server"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-5sGeX2JiH6bPGa1YjzgrO+2QxmM"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"access_token":"UPI_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlOTNkYTMxYWJiZDJiMzE0YTg4ODY5YmQ5MDAyOWMxMzg1ZmRhZWMyNWEyMWYzMTZiMGFjNGViZDZmNTI0ZDQiLCJ0aW1lX2NyZWF0ZWQiOjE3NjI2MzQ2MDkwMjAsImlhdCI6MTc2MjYzNDYwOSwiZXhwIjoxNzYyNzIxMDA5fQ.m_Qc_A8SDWtrtA9BuqrTsj87YJuSp_poj5o65Z7AboE","token_type":"server","expiry":1762721009,"permission":["inquiry","charge","vault","consult","encryption-config","refund","capture"]}}'
  recorded_at: Sat, 08 Nov 2025 21:01:25 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/charges
    body:
      encoding: UTF-8
      string: '{"transaction":{"reference":"BILLING-TEST-PHYSICAL-1762635685","amount":100.0,"currency":"USD","country":"US","country_accelerator":"CN","note":"Testing
        billing address support"},"payment":{"method":"alipay","client":["mobile_browser","desktop"]},"urls":{"ipn":"https://example.com/webhooks/citcon","success":"https://example.com/payment/success","fail":"https://example.com/payment/fail","cancel":"https://example.com/payment/cancel"},"consumer":{"reference":"BILLING-TEST-001","first_name":"Test","last_name":"User","phone":"13312345678","email":"test@example.com"},"goods":{"data":[{"product_name":"Test
        Product","product_sku":"TEST-SKU-001","product_type":"physical","quantity":1,"unit_amount":100.0}],"shipping":{"first_name":"Ship","last_name":"To","phone":"6145675309","email":"ship@example.com","street":"123
        Ship St","city":"Columbus","state":"OH","zip":"43221","country":"US"},"billing":{"first_name":"Bill","last_name":"To","phone":"6145675310","email":"bill@example.com","street":"456
        Billing Ave","city":"New York","state":"NY","zip":"10001","country":"US"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"349-rNxiNAXU9IzRtvKtq/Ci3OSOo+Q"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"object":"charge","charge_token":"16dd30a0bce611f0967f3b2a428a7e16","id":"2000470696899857670149","reference":"BILLING-TEST-PHYSICAL-1762635685","amount":100,"currency":"USD","time_created":1762635686,"time_captured":null,"auto_capture":true,"status":"initiated","country":"US","payment":{"method":"alipay","client":[{"client":"desktop","format":"redirect","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/landing/16f28d60bce611f0bef725850d4b9b3a"},{"client":"mobile_browser","format":"redirect","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/landing/16f28d61bce611f0bef725850d4b9b3a"},{"client":"desktop","format":"qr","method":"GET","content":"https://proxy.citconpay.cn/upi/u_landing/v1/qr/16f28d62bce611f0bef725850d4b9b3a"}]}}}'
  recorded_at: Sat, 08 Nov 2025 21:01:26 GMT
recorded_with: VCR 6.3.1
