---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/access-tokens
    body:
      encoding: UTF-8
      string: '{"token_type":"server"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-nPa9qP8ICxZu88Ujs30sbL/cAGg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"access_token":"<ACCESS_TOKEN>","token_type":"server","expiry":1762681312,"permission":["inquiry","charge","vault","consult","encryption-config","refund","capture"]}}'
  recorded_at: Sat, 08 Nov 2025 10:28:43 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/charges
    body:
      encoding: UTF-8
      string: '{"transaction":{"reference":"TEST-VCR-REFUND-003","amount":300,"currency":"USD","country":"US","note":"Multiple
        partial refunds test"},"payment":{"method":"alipay","client":["desktop"]},"urls":{"ipn":"https://example.com/webhooks/citcon","success":"https://example.com/payment/success","fail":"https://example.com/payment/fail"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"292-0dVSeszEmW9ubL6HArxfF/wGnSw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"object":"charge","charge_token":"b370a540bc8d11f0bf8161153c3aca95","id":"2000470537673517068293","reference":"TEST-VCR-REFUND-003","amount":300,"currency":"USD","time_created":1762597723,"time_captured":null,"auto_capture":true,"status":"initiated","country":"US","payment":{"method":"alipay","client":[{"client":"desktop","format":"redirect","method":"GET","content":"https://landing.uat01.citconpay.com/v1/landing/b3789480bc8d11f09b7397c845dd7824"},{"client":"desktop","format":"qr","method":"GET","content":"https://landing.uat01.citconpay.com/v1/qr/b3789481bc8d11f09b7397c845dd7824"}]}}}'
  recorded_at: Sat, 08 Nov 2025 10:28:43 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/refunds
    body:
      encoding: UTF-8
      string: '{"id":"2000470537673517068293","reference":"REFUND-PARTIAL-002","amount":100.0,"note":"First
        partial refund"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 406
      message: Not Acceptable
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68-IemmPsVYxXS1L5wH00+Y/h1ZmIs"
    body:
      encoding: UTF-8
      string: '{"status":"fail","app":"citcon_upi","version":"v1.0.0","data":{"code":"4202","message":"refund
        failed"}}'
  recorded_at: Sat, 08 Nov 2025 10:28:43 GMT
recorded_with: VCR 6.3.1
