---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/access-tokens
    body:
      encoding: UTF-8
      string: '{"token_type":"server"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-nPa9qP8ICxZu88Ujs30sbL/cAGg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"access_token":"<ACCESS_TOKEN>","token_type":"server","expiry":1762681312,"permission":["inquiry","charge","vault","consult","encryption-config","refund","capture"]}}'
  recorded_at: Sat, 08 Nov 2025 10:28:42 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/charges
    body:
      encoding: UTF-8
      string: '{"transaction":{"reference":"TEST-VCR-REFUND-002","amount":200,"currency":"USD","country":"US","note":"Partial
        refund test payment"},"payment":{"method":"alipay","client":["mobile_browser"]},"urls":{"ipn":"https://example.com/webhooks/citcon","success":"https://example.com/payment/success","fail":"https://example.com/payment/fail"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"210-PYHOgHWTD2fE0ncmvF3ndQ9JxCk"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"object":"charge","charge_token":"b2f1d850bc8d11f0967f3b2a428a7e16","id":"2000470537670022717445","reference":"TEST-VCR-REFUND-002","amount":200,"currency":"USD","time_created":1762597722,"time_captured":null,"auto_capture":true,"status":"initiated","country":"US","payment":{"method":"alipay","client":[{"client":"mobile_browser","format":"redirect","method":"GET","content":"https://landing.uat01.citconpay.com/v1/landing/b2fab1f1bc8d11f0bef725850d4b9b3a"}]}}}'
  recorded_at: Sat, 08 Nov 2025 10:28:42 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/refunds
    body:
      encoding: UTF-8
      string: '{"id":"2000470537670022717445","reference":"REFUND-PARTIAL-001","amount":100.0,"note":"Partial
        refund for one item"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 406
      message: Not Acceptable
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68-IemmPsVYxXS1L5wH00+Y/h1ZmIs"
    body:
      encoding: UTF-8
      string: '{"status":"fail","app":"citcon_upi","version":"v1.0.0","data":{"code":"4202","message":"refund
        failed"}}'
  recorded_at: Sat, 08 Nov 2025 10:28:43 GMT
recorded_with: VCR 6.3.1
