---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/access-tokens
    body:
      encoding: UTF-8
      string: '{"token_type":"server"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-nPa9qP8ICxZu88Ujs30sbL/cAGg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"access_token":"<ACCESS_TOKEN>","token_type":"server","expiry":1762681312,"permission":["inquiry","charge","vault","consult","encryption-config","refund","capture"]}}'
  recorded_at: Sat, 08 Nov 2025 10:28:41 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/charges
    body:
      encoding: UTF-8
      string: '{"transaction":{"reference":"TEST-VCR-REFUND-001","amount":100,"currency":"USD","country":"US","note":"Full
        refund test payment"},"payment":{"method":"alipay","client":["mobile_browser","desktop"]},"urls":{"ipn":"https://example.com/webhooks/citcon","success":"https://example.com/payment/success","fail":"https://example.com/payment/fail"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32d-QJtpmg54fzpG1QrNIwzarrMZuVM"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"object":"charge","charge_token":"b245b9d0bc8d11f0967f3b2a428a7e16","id":"2000470537665291542533","reference":"TEST-VCR-REFUND-001","amount":100,"currency":"USD","time_created":1762597721,"time_captured":null,"auto_capture":true,"status":"initiated","country":"US","payment":{"method":"alipay","client":[{"client":"desktop","format":"redirect","method":"GET","content":"https://landing.uat01.citconpay.com/v1/landing/b24e4550bc8d11f0bef725850d4b9b3a"},{"client":"mobile_browser","format":"redirect","method":"GET","content":"https://landing.uat01.citconpay.com/v1/landing/b24e4551bc8d11f0bef725850d4b9b3a"},{"client":"desktop","format":"qr","method":"GET","content":"https://landing.uat01.citconpay.com/v1/qr/b24e4552bc8d11f0bef725850d4b9b3a"}]}}}'
  recorded_at: Sat, 08 Nov 2025 10:28:41 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/refunds
    body:
      encoding: UTF-8
      string: '{"id":"2000470537665291542533","reference":"REFUND-FULL-001","amount":100.0,"transaction_reference":"TEST-VCR-REFUND-001","note":"Customer
        requested full refund"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 406
      message: Not Acceptable
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68-IemmPsVYxXS1L5wH00+Y/h1ZmIs"
    body:
      encoding: UTF-8
      string: '{"status":"fail","app":"citcon_upi","version":"v1.0.0","data":{"code":"4202","message":"refund
        failed"}}'
  recorded_at: Sat, 08 Nov 2025 10:28:42 GMT
recorded_with: VCR 6.3.1
