---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/access-tokens
    body:
      encoding: UTF-8
      string: '{"token_type":"server"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-2l5GGMcSEAN8y9dG1QX1oWW3i9U"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"access_token":"<ACCESS_TOKEN>","token_type":"server","expiry":1762689999,"permission":["inquiry","charge","vault","consult","encryption-config","refund","capture"]}}'
  recorded_at: Sat, 08 Nov 2025 12:57:35 GMT
- request:
    method: post
    uri: https://api.sandbox.citconpay.com/v1/refunds
    body:
      encoding: UTF-8
      string: '{"id":"2000470574698110676997","reference":"REFUND-PAYPAL-005","amount":100.0,"note":"Test
        refund for TEST-VCR-PAYPAL-REFUND-005"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"173-oGNtrN7rHLSpgsTfCj24UEug/bk"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","app":"citcon_upi","version":"v1.0.0","data":{"id":"2000470575137023123461","object":"refund","reference":"REFUND-PAYPAL-005","amount":100,"amount_refunded":100,"currency":"USD","country":"US","time_created":1762606655,"payment":{"method":"paypal"},"status":"succeeded","time_completed":1762606657,"exchange":{"amount":100,"currency":"USD","rate":1}}}'
  recorded_at: Sat, 08 Nov 2025 12:57:38 GMT
recorded_with: VCR 6.3.1
